# App
NODE_ENV=development
PORT=4000
CORS_ORIGIN=http://localhost:5173

# db
DATABASE_URL=postgresql://heavenlyqr:heavenlyqr@localhost:5432/heavenlyqr?schema=public
# For docker  
POSTGRES_DB=heavenlyqr
POSTGRES_USER=heavenlyqr
POSTGRES_PASSWORD=heavenlyqr
POSTGRES_PORT=5432

REDIS_PORT=6379

# redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# worker 
WORKER_CONCURRENCY=4
QR_JOB_QUEUE_NAME=qr-generation

